@{
    Layout = null;
}
@using bookworm.ViewModel;
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/home.css" />

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/createBook.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://kit.fontawesome.com/44489b1897.js" crossorigin="anonymous"></script>
    <script defer src="js/toggle.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="~/js/slider.js"></script>
    <script defer src="~/js/pop-up.js"></script>
    <script defer src="~/js/login.js"></script>
    <script defer src="~/js/createBook.js"></script>
</head>
<style></style>
<body>
    <div class="bg-container">
        <div class="bg-one"></div>
        <div class="bg-two"></div>
    </div>
    <div class="wrapper">
        @Html.Partial("_SideBar")

        <main class="main-content">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="container">
                    <div class="search-bar">
                        <form action="" method="post">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                            <input type="text" placeholder="Search book name, author, edition..." />
                        </form>
                    </div>
                    <div class="sign-in user-info-container">
                        <div class="pp-img-container">
                            <img src="~/images/person1.png" alt="" />
                        </div>
                        <a href="#">Aima Pusaiye</a>
                        <a href="#"><i class="fa-regular fa-bell"></i></a>
                    </div>
                </div>
            </nav>
            <div class="content-container">
                <div class="right-container">
                    <div class="create-container">
                        <h2>Create Role</h2>
                        @if (TempData["Error"] != null)
                        {
                            <div class="col-md-12 alert">
                                <span><b>Sorry!</b> - @TempData["Error"]</span>
                            </div>
                        }
                        <form asp-action="CreateAdminUser" method="post" enctype="multipart/form-data">

                            <div class="form-control">
                                <input asp-for="FullName" class="login-detail" />
                                <label asp-for="FullName" class=""></label>
                                <span asp-validation-for="FullName" class="validation-message"></span>
                            </div>

                            <div class="form-control">
                                <input asp-for="Email" class="login-detail" />
                                <label asp-for="Email" class=""></label>
                                <span asp-validation-for="Email" class="validation-message"></span>
                            </div>

                            <div class="form-control">
                                <input asp-for="Password" class="login-detail" id="password" />
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="validation-message"></span>
                            </div>
                            <div class="form-control">
                                <input asp-for="ConfirmPassword" class="login-detail" />
                                <label asp-for="ConfirmPassword"></label>
                                <span asp-validation-for="ConfirmPassword" class="validation-message"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
                <div class="left-container">

                    <img src="~/images/illustration.png" alt="" class="illustration" />
                </div>
            </div>
            <footer class="footer">
                <div class="row footer-content">
                    <div class="footer-info">
                        <div class="footer-logo">
                            <img src="images/logo-white.png" alt="Company Logo" />
                            <p>BookWorm</p>
                        </div>
                        <div class="social-icons">
                            <a href="#" class="social-link"><i class="fab fa-facebook-f xl"></i></a>
                            <a href="#" class="social-link"><i class="fab fa-x-twitter xl"></i></a>
                            <a href="#" class="social-link"><i class="fab fa-instagram xl"></i></a>
                            <!-- Add more social media icons and links as needed -->
                        </div>
                        <p>Address: 123 Main Street, City, Country</p>
                    </div>
                    <div class="footer-links">
                        <p>Helpful Links</p>
                        <ul>
                            <li><a href="#section1">Home</a></li>
                            <li><a href="#section2">Books</a></li>
                            <li><a href="#section3">Sign in</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li>
                                <a href="#">Login as Author</a>
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            </li>
                            <!-- Add more footer links as needed -->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>&copy; 2024 Company Name. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Dialog Element -->
        </main>
    </div>
    <!-- Initialize Swiper -->
</body>
</html>
